

// #LABELS

label {
  pointer-events: none;
  position: relative;
  z-index: 2;
  display: block;

  color: $black;
  font-size: $small_size;
  font-weight: bold;
  text-align: left;
  line-height: 1.33;

  margin: 2px 0 (-$rythm*1.5) ($rythm/1.5);

  &.label--alternate {
    font-size: $base_size;
    font-weight: normal;
    margin: 0;
  }

  .dark & {
    color: $grey--light;
  }
}


// #INPUTS

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
optgroup,
select,
textarea,
.input {
  position: relative;
  width: 100%;

  font-family: $body_font;
  font-size: $slight_size;
  font-weight: normal;
  line-height: 1.2;

  color: inherit;
  background: transparent;
  padding: $rythm/1.333 $rythm/1.5;
  margin-bottom: $rythm*1.5;
  border: 1px solid $grey--dark;
  border-radius: $border_radius;
  // box-shadow: 0 1px 6px fade-out($black, 0.9);

  .dark & {
    border-color: $black--light;
  }

  .col > &:last-child {
    margin-bottom: 0;
  }

  &:active {
    top: 1px;
  }

  label + & {
    padding-top: $rythm*1.666;
  }

  &.input--disabled,
  &:disabled,
  form:disabled & {
    opacity: 0.88;
    pointer-events: none;
  }

  &:hover {
    border-color: $black--light;

    .dark & {
      border-color: $grey--dark;
    }
  }

  &:focus {
    border-color: $black--dark;

    .dark & {
      border-color: $grey;
    }
  }

  &.input--alternate {
    font-size: $medium_size;
    padding: $rythm/1.333 0;
    margin-bottom: $rythm*2;
    border: none;
  }

  &.input--inline {
    display: inline-block;
    width: auto;

    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: 0;
  }

  .input_group & {
    margin-bottom: 0;
  }
}


textarea {
  // height: $rythm*4;
  padding: $rythm/2;

  &.textarea--one_line {
    padding: $rythm/4;
    height: auto;
  }
}


select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  & + .icon {
    pointer-events: none;
    position: relative;
    z-index: 2;
    display: block;

    margin: (-$rythm*3) ($rythm) ($rythm*2.5) auto;

    &:last-child {
      margin-bottom: $rythm*1.5;
    }
  }
}

select[name='currency'] {
  border: 0;
  width: $rythm*4;

  & + .icon {
    margin-top: (-$rythm*2.666);
  }
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="checkbox"] {
  cursor: pointer;
  position: relative;

  display: none;

  & + label {
    @extend .grid;
    @extend .grid--nowrap;
    @extend .grid--middle;

    cursor: pointer;
    pointer-events: auto;
    position: relative;
    font-size: inherit;
    margin: 0;

    &:before,
    &:after {
      content: "";
      display: inline-block;

      margin: 0 $rythm/4 0 0;
    }

    &:before {
      width: $base_size;
      height: $base_size;

      border: 2px solid;
      border-radius: $border_radius;
    }

    &:after {
      content: "";
      
      position: absolute;
      left: 0;
      color: $white;
      width: $base_size;
      text-align: center;
    }
  }

  &:checked {

    & + label {
      color: $black;

      &:before {
        background-color: $black;
      }

      &:after {
        content: "✔";
      }
    }
  }

  &:active {
    top: 1px;
  }
}

input[type="radio"] {
  display: none;

  & + label {
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    margin: $rythm/2;

    text-align: center;
    max-width: $rythm*14;
    padding: $rythm;
    border: 2px solid $grey;
    border-radius: $border_radius;
    background: $grey--light;

    .dark & {
      background: $black--light;
      border-color: $grey--dark;
    }

    &:active {
      top: 1px;
    }
  }

  &:checked + label {
    border-color: $black--dark;

    .dark & {
      border-color: $white;
    }
  }
}

input[type="file"] {
  display: block;
}




:focus {
  outline: none;
  -moz-outline-style: none;
}

::-webkit-input-placeholder { color: $grey; }
:-moz-placeholder { color: $grey; }
