
// #OVERLAYS

.overlay {
  @extend .grid;
  @extend .grid--middle;
  @extend .grid--center;

  position: fixed;
  top: $rythm*5;
  right: $rythm;
  width: auto;

  @media #{$phone} {
    top: $rythm/2;
    right: 0;
  }

  overflow-y: auto;
  z-index: 400;

  &.overlay--full {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }
}

  button.overlay__back {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;

    background: fade-out($black, 0.4);
    border: none;
  }

  button.overlay__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $rythm/2 $rythm;
  }

  .overlay__container {
    position: relative;
    padding: $rythm*1.5;

    width: 100%;
    max-width: $max_width/1.5;
    max-height: 90vh;
    overflow-y: auto;

    border: 1px solid;
    // border-radius: $border_radius;
    background-color: $white;
    box-shadow: 0 2px 4px fade-out($black, 0.9);

    .dark & {
      background-color: $black--dark;
    }

    &.overlay__container--wider {
      max-width: $max_width*2;
    }
  }



