

// #EDITOR

.editor {
  position: relative;
}

.ql-container {
  font-family: $body_font;
  font-size: $base_size;

  &.ql-snow {
    border: none;
  }
}

  .ql-snow .ql-editor {
    line-height: inherit;
    padding: 0;
    margin-bottom: $rythm*2;

    &.ql-blank::before {
      color: $grey--dark;
      font-style: normal;
      left: 0;
    }

    img {
      max-width: $rythm*40;
    }

    &:active {
      top: 1px;
    }
  }

  .ql-toolbar.ql-snow {
    font-family: $body_font;
    padding: $rythm/2 $rythm/4;
    width: 444px;
    background: $white;
    border: 1px solid $grey;
    border-radius: $border_radius;

    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;

    transform: translate(-50%, -120%);

    &.toolbar--show {
      opacity: 1;
      visibility: visible;
    }

    .ql-formats {
      margin-right: $rythm*1.5;
    }

    button {
      margin-left: 0;
      box-shadow: none;
    }
  }